<div class="content" id="home">
  <div id="sidebar-button">
    <img src="/images/sidebar-button.png">
  </div>
  <div id="post-info">
    <div id="cover-photo-container">
      <img id="cover-photo" src="/images/{{ page.cover }}" height="400" width="1000">
    </div>
    <div id="info-container">
      <h1 id="title">{{ page.title }}</h1>
      <span id="date">{{ page.date | date_to_string }}</span>
    </div>
  </div>

  <div class="post">
    {{ content }}
  </div>
  <div class="colophon">
    <p>

      <span id="footer-links">
            <a href="duble_regular.html" class="footer-link">双面常规结果</a> <span class="separator">&bull;</span>
            <a href="" class="footer-link">双面研发</a> <span class="separator">&bull;</span>
            <a href="" class="footer-link">单面</a>
          </span>
    </p>
  </div>
</div>
